@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body {
    font-family: "Roboto";
    background-color: #eee;
}

h1 {
    text-align: right;
    font-family: "Roboto";
    font-size: 30px;
    border-bottom: 1px solid #444;
    color: #444;
}
